/* index.html */

#topnav .logo {
  float: none;
  text-align: center;
}

#topnav ul, #topnav ul li {
  float: none;
}

#topnav ul li a {
  padding: 5px;
  border-bottom: 1px #444 dotted;
}

#info img {
  display: none;
}

#info .history {
  float: none;
  width: 100%;
}

.box {
  float: none;
  width: 100%;
}

/* about.html */

.info-left, 
.info-right {
  float: none;
  width: 100%;
}

.l-heading {
  text-align: center;
}

.info-right {
  margin-top: 30px;
}

#testimonials {
  height: 650px;
}

/* Contact */

#features .box {
  border-bottom: #444 dotted 1px;

}